body {
  margin: 0;
  font-family: Arial, sans-serif;
}
h2 {
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #1a1a1a;
  color: #fff;
}
#map {
  height: calc(100vh - 50px);
  width: 100%;
}
